.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(207, 206, 206, 0.6);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 120px;

  &-brand {
    margin-left: 50px;
  }

  &-icons {
    width: 6%;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
  }
}
